body {
    background-color:lavenderblush;
    text-align: center;
    color: rgb(226, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
  width: 500px; /* La imagen tendrá un ancho fijo de 300 píxeles */
  height: 400px; /* La imagen tendrá un alto fijo de 200 píxeles */
}
h1 {
    color: rgba(223, 11, 11, 0.938);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    color: maroon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
      
.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
.column {flex: 100%;}
}

form {

    margin: 1%;
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color:rgb(216, 97, 136);
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }


  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
    }
  }
  
  nav a:hover {
    color: #88d8f7;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .greeting {
    text-align: center;
  }
input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}
